<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Welcome to the best News Updates website</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
    />
    {% endif %}
  </head>
  <body>
    <!-- Navbar block  -->
    {% block navbar %} 
    {% include 'navbar.html' %} 
    {% endblock %}
    <!-- Content block -->
    {% block content %} {% endblock%}
        <!-- Footer block  -->
        {% block footer %} 
        {% include 'footer.html' %} 
        {% endblock %}
    <script src="{{url_for('static', filename='js/jquery-3.4.1.slim.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/popper.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
  </body>
</html>
